html {
          hauteur : 100 % ;
      }

      html ,  corps ,  div ,  span ,  h1 ,  h2 ,  h3 ,  h4 ,  h5 ,  h6 ,  p {
          marge : 0 ;
          rembourrage : 0 ;
          bordure : 0 ;
          contour : 0 ;
          taille de police : 100 % ;
          font : inherit;
          alignement vertical : ligne de base;
          fond : transparent;
      }

      corps {
          position : relative;
          famille de polices : "proxima nova" , Arial , Helvetica , sans-serif;
          taille de police : 14 px ;
          poids de la police : normal;
          hauteur de ligne : 1,4 ;
          couleur de fond : # f8f8f8 ;
          largeur minimale : 300 px ;
          hauteur min : 100 % ;
          couleur : # 666 ;
          débordement : auto;
          affichage : bloc en ligne;
          largeur : 100 % ;
      }

      a : survoler {
        poids de police : gras;
      }

      un {
        couleur : hériter;
        décoration de texte : aucune;
      }

      . contenu {
          hauteur min : 100 % ;
          largeur minimale : 300 px ;
          affichage : bloc en ligne;
          largeur : 100 % ;
      }

      en-tête {
          position : relative;
          marge en bas : 10 px ;
          largeur minimale : 300 px ;
      }

      . header-background {
          couleur de fond : # fff ;
          opacité : 0,9 ;
          position : absolue;
          en haut : 0 ;
          en bas : 0 ;
          gauche : 0 ;
          à droite : 0 ;
          shadow-box : 0  0  2 px  1 px  rgba ( 175 ,  175 ,  175 ,  0,3 );
      }

      . titre {
          position : relative;
          largeur : 400 px ;
          largeur minimale : 300 px ;
          marge : 0 auto;
          rembourrage : 15 px  0 ;
          dimensionnement de la boîte : border-box;
          alignement du texte : centre;
      }

      h1 {
          taille de police : 24 px ;
          poids de la police : plus léger;
          hauteur de ligne : 26 px ;
      }

      . graphique {
        hauteur : 310px;
        largeur : 550px;
        marge : 5px auto 0 auto ;
        rembourrage : 5px;
        bordure : 1px # CCC  solid ;
        couleur de fond : # fcfcfc ;
        affichage : bloc en ligne ;
        alignement vertical : haut ;
      }

      # actu {
        largeur : 550 px ;
        hauteur : 625 px ;
      }

      @media ( largeur minimale : 1 200 px ) {
        # actu {
          largeur : 1115 px ;
          hauteur : hériter;
        }
      }

      # nuage ,  # listeArticles {
        largeur : 550px;
        hauteur : 310px;
        affichage : bloc en ligne ;
        alignement vertical : haut ;
        débordement : défilement ;
      }

      # tableauArticles  table {
        marge en haut : 7 px ;
        marge gauche : 5 px ;
        border-collapse : effondrement;
        bordure : solide 1 px  # CCC ;
        largeur : 100 % ;
        couleur : # 333 ;
      }

      # tableauArticles  td {
        rembourrage : 5px;
      }

      # tableauArticles  tr : nième enfant ( impair ) {
        couleur de fond : # EEE ;
      }

      # tableauArticles  tr {
        bordure : solide 1 px  # DDD ;
      }

      # tableauArticles . journal {
        largeur : 130 px ;
      }

      . chartContainer {
        marge : 0 auto;
      }

      @media ( largeur min : 600 px ) {
        . chartContainer {
          largeur : 570 px ;
        }
      }

      @media ( largeur minimale : 1 200 px ) {
        . chartContainer {
          largeur : 1140 px ;
        }
      }

      @media ( largeur min : 1800 px ) {
        . chartContainer {
          largeur : 1710 px ;
        }
      }

      . chartTitle {
        marge : 2 px auto;
        alignement du texte : centre;
        largeur : 100 % ;
        affichage : bloc en ligne;
        couleur : # 333 ;
        taille de police : 18 px ;
      }

      . domaine {
        remplissage : Aucun ;
        trait : gris ;
        rendu de forme : crispEdges ;
      }